In [1]:
num1, num2 = 81, 55
num3 = num1 - num2
print(num3)

26

Soru: Dışarıdan girilen iki sayının farkını alan program

In [2]:
num1 = input() #num1 string 
num2 = input()
num3 = int(num1) - int(num2)
print(num3)

26

In [3]:
num1 = int(input("1.sayıyı gir..")) #num1 string 
num2 = int(input("2.sayıyı gir"))
num3 = num1 - num2
print(num3)

26

In [4]:
# Dairenin alanını hesapla
# area = pi * r^2
r = 5
PI = 3.14
area = PI*(r**2)
print("Dairenin Alanı..:", area)

Dairenin Alanı..: 78.5

In [5]:
# Dairenin alanını hesapla
# area = pi * r^2
import math 
# math modülünü programıma dahil et.
r = 5
area = math.pi*(r**2) # normal
print("Dairenin Alanı..:", area)

Dairenin Alanı..: 78.53981633974483

In [7]:
# Dairenin alanını hesapla
# area = pi * r^2
import math 
# math modülünü programıma dahil et.
r = 5
area = round(math.pi*(r**2)) #en yakına yuvarlar
print("Dairenin Alanı..:", area)

Dairenin Alanı..: 79

In [15]:
# Dairenin alanını hesapla
# area = pi * r^2
import math 
# math modülünü programıma dahil et.
r = 5
area = math.ceil(math.pi*(r**2)) #yukarı yuvarlar
#aşağı yuvarlamak için ise math.floor kullanılır.
print("Dairenin Alanı..:", area)
# print("Dairenin Alanı..:{:.2f}".format(area))

Dairenin Alanı..: 79

In [14]:
# Dairenin alanını hesapla
# area = pi * r^2
import math 
# math modülünü programıma dahil et.
r = 5
area = math.pi*(r**2)

print("Dairenin Alanı..:{:.2f}".format(area))

Dairenin Alanı..:78.54

In [22]:
print(4+5/2)
print((4+5)/2)

6.5
4.5

In [20]:
print(11%2)
print((4*5)/2)

1
10.0

In [23]:
a = 2
b = 8
print((a*b)**0.5) #sqrt

4.0

In [24]:
import math
a = 2
b = 8
print(math.sqrt(a*b)) #sqrt : karekök alır
# / kesirli bölme (float sonuç üretir)
# // tam bölme (int sonuç üretir.)

4.0

In [25]:
4**1

4

In [26]:
4**1.0

4.0

In [27]:
# hipotenüs
a = 3
b = 4
c = (a**2 + b**2)**0.5 # c^2 = a^2 + b^2
# c = (a**2+b**2)**(1/2)
print(c)

5.0

In [28]:
import math
a = 3
b = 4
c = math.hypot(a,b) #hipotenüs fonksiyonu
print(c)

5.0

In [29]:
text = "Merhaba"
number = 19 
print(text, number)

Merhaba 19

In [30]:
text = "Merhaba"
number = 19 
print(text, number, sep=",")

Merhaba,19

In [35]:
text1 = "I bought"
text2 = "kg. of apple."
amount = 6   
text3 = text1 + " " + str(amount) + " " + text2
print(text3)
print("I bought " + "6 " + "kg. of apple.")
print(text1 + " " + str(amount) + " " + text2)
print(text1, amount, text2)

I bought 6 kg. of apple.
I bought 6 kg. of apple.
I bought 6 kg. of apple.
I bought 6 kg. of apple.

In [41]:
print(text1, amount, text2, sep="\n")

I bought
6
kg. of apple.

In [40]:
print(text1, amount, text2, sep="\n", end="") #alttaki ifade ile birleştir
print("....")

I bought
6
kg. of apple.....

In [42]:
text1 = "I bought"
text2 = "kg. of apple this morning"
amount = 6
print(text1, amount, text2, sep="*")
print("I bought", 6, "kg. of apple this morning", sep="")
print("I bought " + "6 " + text2, end=" ")
print("and came to home")

I bought*6*kg. of apple this morning
I bought6kg. of apple this morning
I bought 6 kg. of apple this morning and came to home

In [43]:
x = 5
x += 2  # x = x+2
print(x)

7

In [44]:
x = 5
x -= 2  # x = x-2
print(x)

3

In [47]:
x = 5
x *= 2  # x = x*2
print(x,10*"\n") # 2 satır alta geçer
print("....")

10










....

In [48]:
print("müdür "* 3)
# müdür, müdür müdür?

müdür müdür müdür

In [49]:
print(chr(97))

a

In [50]:
print(chr(65))

A

In [52]:
print("\x41")

A

In [53]:
email1 = "bulent@clarusway.com"
email2 = "bulent\x40clarusway.com"
print(email2)

bulent@clarusway.com

In [55]:
print("\N{dog}", "\N{cat}")

🐕 🐈

In [56]:
el = "\N{Victory hand}"
print(el)

✌

In [58]:
print('C:\\north pole\noise_penguins.txt')
print('----------')
print('first', 'second', 'third', sep='\t')

C:\north pole
oise_penguins.txt
----------
first	second	third

In [61]:
print('we are', '\boosting', 'our', '\brotherhood') 
print('it\'s essential to learn Python\'s libraries in IT World')

we areoosting ourrotherhood
it's essential to learn Python's libraries in IT World

In [60]:
print('we are', '\b\boosting', 'our', '\brotherhood') 
print('it\'s essential to learn Python\'s libraries in IT World')

we aroosting ourrotherhood
it's essential to learn Python's libraries in IT World

In [57]:
print("ali", "veli", "deli", sep="\t")

ali	veli	deli

In [73]:
#Task-1: Arrange the following text variable using \n and \t escape sequences to print the output as follows :
#Clarusway, Clarusway, Clarusway, 
#	Clarusway, Clarusway, Clarusway, 
#		Clarusway, Clarusway, Clarusway
text = "Clarusway, Clarusway, Clarusway,"
print(text,"\n\t",text, "\n\t\t", text, end="\b")

Clarusway, Clarusway, Clarusway,
	 Clarusway, Clarusway, Clarusway,
		 Clarusway, Clarusway, Clarusway

In [75]:
a = ("ali" and True and -5 and "selim" and True and "semih")
# and: hepsi True ise en sondaki döndürür
print(a)

semih

In [77]:
a = (0 and "" and False and -5 and "selim" and 0 and "semih")
# biri False ise en baştaki False değeri döndürür
print(a)

0

Python da 0, False, "" (içi boş string), None harici değerler True dur.

In [79]:
a = ("ali" or True or -5 or "selim" or True or "---")
# or: En az bir True değer var ise en baştaki değeri döndürür
print(a)

ali

In [80]:
a = ("" or False or 0 or None)
# or: hepsi False ise en sondaki değeri döndürür
print(a)

None

In [81]:
not True

False

In [82]:
not 1

False

In [83]:
not False

True

In [84]:
not []

True

In [85]:
'True' and 3

3

In [86]:
logic = 'True' and 3 or not [] or 0
# 'True' and 3 or True or 0
# 3 or True or 0
# 3
print(logic)

3

In [87]:
print(1 and 0)
print(not 0) # not her zaman True / False döndürür

0
True

In [88]:
print(any([False, False, False]))
#False
print(any([False, False, True]))
#True

print(all([False, True, True]))
#False
print(all([True, True, True]))
#True

False
True
False
True

In [89]:
print(all([True, "ali", 5]))

True

In [90]:
print(any([False, "ali", 0]))

True

In [ ]:
# Zx = (1/√(2* π))*e(-z*z/2)
import math
z = 5
Zx = (1 /math.sqrt(2*math.pi)) * math.exp(-z*z/2)

In [92]:
print(0x15) # hex sayı

21

In [94]:
print("\x61")   # ascii hex tablosundaki karakteri verdi.
print(0x61)     # hex'ten decimal(onlu sayıya dönüştü)
                #veya ascii hex tablosunun decimal(onlu) karşılığını verdi..

a
97

In [1]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith(".", 15, 24))

28
True
False